@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}


body {
    font-family: "Fira+Sans:wght@200, sans-serif";
    font-weight: 300;
    color: #006778;
}

/* Headings & Logo */

h1, h2 {
    font-family: "Fira+Sans:wght@200, sans-serif";
    letter-spacing: 2px;
    color: #006778;

}

#logo {
    /* float: left; */
    font-size: 280%;
    margin-left: 30px;
}

/* Navigation Links */

header {
    padding: 30px 0;
    height: 30px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

#logo-holder h1 {
    line-height: 30px;
}

#main-nav li {
    list-style-type: none;
    margin-right: 30px;
}

#main-nav li a {
    font-size: 110%;
    letter-spacing: 2px;
    float: left;
    text-align:center;
    padding: 0 10px;
    text-decoration: none;
    line-height: 30px;
    color: #006778;
}

#main-nav ul {
    display: flex;
    flex-flow: row; 
}

#main-nav a:hover {
    border-bottom: 1.5px solid #006778;
}

.active {
    border-bottom: 1.5px solid #006778; 
}

/* #menu {
    font-size: 110%;
    letter-spacing: 2px;
    float: left;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    list-style-type: none;
    margin-right: 30px;
}

#menu a{
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1.5px solid #006778;
}

.active {
    border-bottom: 1.5px solid #006778; 
}  */

/* Hero Image */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/hero-image.jpg) no-repeat center center;

}

/* Hero Image Effect? */

/* Hero Image cover text? 'find your pet sitter or dog walker today' */

/* Our Values */

#our-values {
     height: 350px;
     padding-top: 30px;
}

#our-values h1 {
    text-align: center;
    font-size: 40px;
}

#left-values {
    padding-top: 30px;
    padding-left: 5%;
    width: 30%;
    float: left;
}

#center-values {
    padding-top: 30px;
    width: 30%;
    float: left;
}

#right-values {
    padding-top: 30px;
    width: 30%;
    float: left; 
}

hr {
    margin-bottom: 20px;
}

.left-values-heading {
    float: left;
    line-height: 20px;
    clear: both;
    margin: 10px;
    text-align: center;
    padding-right: 10px;
}

.center-values-heading {
    line-height: 20px;
    margin: 10px;
    float: left;
    text-align: center;
}

.right-values-heading {
    float: left;
    line-height: 20px;
    clear: both;
    margin: 10px;
    text-align: center;
    padding-left: 10px;
}

/* Our Services */

#our-services {
    height: 600px;
    padding-top: 30px;
    background-color: #006778;
    color: rgb(255, 255, 255);
}

#our-services h1 {
    text-align: center;
    font-size: 40px;
    color: rgb(255, 255, 255);
}

#left-services {
    padding-top: 10px;
    padding-left: 5%;
    width: 30%;
    float: left;
}

#center-services {
     padding-top: 10px;
     width: 30%;
     float: left;
}

#right-services {
     padding-top: 10px;
     width: 30%;
     float: left;
}

hr {
    margin-bottom: 10px;
}

.left-services-heading {
    float: left;
    line-height: 20px;
    clear: both;
    margin: 10px;
    text-align: center;
    padding-right: 10px;
    color: rgb(255, 255, 255);
}

.center-services-heading {
    line-height: 20px;
    margin: 10px;
    float: left;
    text-align: center;
}

.right-services-heading {
    float: left;
    line-height: 20px;
    clear: both;
    margin: 10px;
    text-align: center;
    padding-left: 10px;
}

#left-services-image {
    height: 300px;
    width: 100%;
    margin: 0 auto 25px auto;
    display: block;
    background: url(../images/pexels-kampus-production-8734462.jpg) no-repeat center center;   
}

#center-services-image {
    height: 300px;
    width: 100%;
    margin: 0 auto 25px auto;
    display: block;
    background: url(../images/pexels-eva-penner-martens-11754092.jpg) no-repeat center center;   
}

#right-services-image {
    height: 300px;
    width: 100%;
    margin: 0 auto 25px auto;
    display: block;
    background: url(../images/pexels-marián-šicko-4214919.jpg) no-repeat center center;   
}

/* Summary */

#summary {
    height: 250px;
    padding-top: 30px;
    width: 100%;
    text-align: center;
    padding-top: 50px;
}

#summary p {
    width: 60%;
    margin: auto;
    padding-top: 10px;
    font-size: 18px;
}


/* footer */

footer {
    height: 200px;
    background-color: #006778;
}

.social-networks {
    text-align: center;
    vertical-align: middle;
}

.social-networks p {
    font-size: 15px;
    color: rgb(255, 255, 255);
    padding-top: 15px;
}

.social-networks h3 {
    color: rgb(255, 255, 255);
    padding-top: 50px;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 200%;
    margin: 2%;
    color: rgb(255, 255, 255);
}

/* tables */

table {
    width: 90%;
    table-layout: fixed;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

td {
    border: 1px solid;
}

tr:nth-child(odd) {
    background-color:#d4e4e7;
}

/* Pricing Page */

#pricing h1 {
    text-align: center;
    font-size: 30px;
}

#pricing h3 {
    text-align: center;
    font-size: 26px;
}

/* gallery */

#gallery {
    clear: both;
    line-height: 0;
    column-count: 3;
    column-gap: 0;
}

#gallery > img {
    width: 100%;
}

/* media queries */

/* for larger to medium screen size from 1200px wide and down */
@media screen and (max-width: 1200px) {
   #our-values {
      
   } 
}