@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}


body {
    font-family: "Fira+Sans:wght@200, sans-serif";
    font-weight: 300;
    color: #006778;
}

/* Headings & Logo */

h1, h2 {
    font-family: "Fira+Sans:wght@200, sans-serif";
    letter-spacing: 2px;
    color: #006778;

}

#logo {
    /* float: left; */
    font-size: 280%;
    margin-left: 30px;
}

/* Navigation Links */

header {
    padding: 30px 0;
    height: 30px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

#logo-holder h1 {
    line-height: 30px;
}

#main-nav li {
    list-style-type: none;
    margin-right: 30px;
}

#main-nav li a {
    font-size: 110%;
    letter-spacing: 2px;
    float: left;
    text-align:center;
    padding: 0 10px;
    text-decoration: none;
    line-height: 30px;
    color: #006778;
}

#main-nav ul {
    display: flex;
    flex-flow: row; 
}

#main-nav a:hover {
    border-bottom: 1.5px solid #006778;
}

.active {
    border-bottom: 1.5px solid #006778; 
}

/* Hero Image */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    margin-top: 20px;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/hero-image.jpg) no-repeat center center;

}

/* Hero Image Effect? */

/* Hero Image cover text? 'find your pet sitter or dog walker today' */

/* Our Values */

#our-values {
     height: 350px;
     padding-top: 30px;
}

#our-values h1 {
    text-align: center;
    font-size: 40px;
}

#left-values {
    padding-top: 30px;
    padding-left: 5%;
    width: 30%;
    float: left;
}

#center-values {
    padding-top: 30px;
    width: 30%;
    float: left;
}

#right-values {
    padding-top: 30px;
    width: 30%;
    float: left; 
}

hr {
    margin-bottom: 20px;
}

.left-values-heading {
    float: left;
    line-height: 20px;
    clear: both;
    margin: 10px;
    text-align: center;
    padding-right: 10px;
}

.center-values-heading {
    line-height: 20px;
    margin: 10px;
    float: left;
    text-align: center;
}

.right-values-heading {
    float: left;
    line-height: 20px;
    clear: both;
    margin: 10px;
    text-align: center;
    padding-left: 10px;
}

/* Our Services */

#our-services {
    height: 700px;
    padding-top: 30px;
    background-color: #006778;
    color: rgb(255, 255, 255);
}

#our-services h1 {
    text-align: center;
    font-size: 40px;
    color: rgb(255, 255, 255);
}

#left-services {
    padding-top: 10px;
    padding-left: 5%;
    width: 30%;
    float: left;
}

#center-services {
     padding-top: 10px;
     width: 30%;
     float: left;
}

#right-services {
     padding-top: 10px;
     width: 30%;
     float: left;
}

hr {
    margin-bottom: 10px;
}

.left-services-heading {
    float: left;
    line-height: 20px;
    clear: both;
    margin: 10px;
    text-align: center;
    padding-right: 10px;
    color: rgb(255, 255, 255);
}

.center-services-heading {
    line-height: 20px;
    margin: 10px;
    float: left;
    text-align: center;
}

.right-services-heading {
    float: left;
    line-height: 20px;
    clear: both;
    margin: 10px;
    text-align: center;
    padding-left: 10px;
}

#left-services-image {
    height: 300px;
    width: 100%;
    margin: 0 auto 25px auto;
    display: block;
    background: url(../images/pexels-kampus-production-8734462.jpg) no-repeat center center;   
}

#center-services-image {
    height: 300px;
    width: 100%;
    margin: 0 auto 25px auto;
    display: block;
    background: url(../images/pexels-eva-penner-martens-11754092.jpg) no-repeat center center;   
}

#right-services-image {
    height: 300px;
    width: 100%;
    margin: 0 auto 25px auto;
    display: block;
    background: url(../images/pexels-mari치n-코icko-4214919.jpg) no-repeat center center;   
}

/* Summary */

#summary {
    height: 250px;
    padding-top: 30px;
    width: 100%;
    text-align: center;
}

#summary p {
    width: 60%;
    margin: auto;
    padding-top: 10px;
    font-size: 18px;
}


/* footer */

footer {
    height: 200px;
    background-color: #006778;
}

.social-networks {
    text-align: center;
    vertical-align: middle;
}

.social-networks p {
    font-size: 15px;
    color: rgb(255, 255, 255);
    padding-top: 15px;
}

.social-networks h3 {
    color: rgb(255, 255, 255);
    padding-top: 50px;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 200%;
    margin: 2%;
    color: rgb(255, 255, 255);
}

/* tables */

table {
    width: 90%;
    table-layout: fixed;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

td {
    border: 1px solid;
}

tr:nth-child(odd) {
    background-color:#d4e4e7;
}

/* Pricing Page */

#pricing h1 {
    text-align: center;
    font-size: 30px;
}

#pricing h3 {
    text-align: center;
    font-size: 26px;
}

#pricing {
    margin-top: 50px;
}

/* gallery */

#gallery {
    clear: both;
    line-height: 0;
    column-count: 3;
    column-gap: 0;
}

#gallery > img {
    width: 100%;
}

/* Contact us page */

  .contact-image {
      width: 50%;
      float: left;
  }

  .message-text {
      height: 200px;
  }

  .form {
      background-color: #d8e5e7;
      margin-bottom: 100px;
  }

  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #006778;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    height: auto;
  }
  
  input[type=submit] {
    background-color: #d6da10;
    color: #006778;
    border: 1px solid #006778;
    padding: 12px 20px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #006778;
    color: #d6da10;
  }
  
  /* Style the container/contact section */
  .container {
    border-radius: 5px;
    background-color: #d8e5e7;
    color: #006778;
    padding: 10px;
    text-align: center;
    margin-top: 30px;
  }
  
  
  /* Create two columns that float next to eachother */
  .form-selection {
    float: right;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  
  /* Clear floats after the columns */
  .form:after {
    content: "";
    display: table;
    clear: both;
  }



/* media queries */



 /* Responsive layout - when the screen is less than 700px wide - small */
 
 @media only screen and (max-width: 480px) {

    body {
        font-weight: 150;
    }

    /* Headings & Logo */

h1, h2 {
    letter-spacing: 1px;

}

#logo {
    font-size: 200%;
}

/* Navigation Links */

/*header {
    padding: 30px 0;
    height: 30px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

#logo-holder h1 {
    line-height: 30px;
}*/

#main-nav li {
    margin-right: 0px;
}

#main-nav li a {
    letter-spacing: 1px;
    float: none;
    text-align:center;
    padding: 0 15px;
    line-height: 40px;

}

/*#main-nav ul {
    display: flex;
    flex-flow: row; 
}

#main-nav a:hover {
    border-bottom: 1.5px solid #006778;
}

.active {
    border-bottom: 1.5px solid #006778; 
}*/

/* Hero Image */

#hero-outer {
    height: 400px;
}

#hero-image {
    height: 400px;
    width: 100%;
    background: url(../images/small\ screen_hero-image.jpg) no-repeat center center;
    margin-top: 20px;

} 

/* Our Values */

#our-values {
    height: 620px;
    padding-top: none;
}

#our-values h1 {
   font-size: 30px;
}

#left-values {
   padding-top: 10px;
   padding-left: none;
   width: 100%;
   float: none;
}

#center-values {
    padding-top: 10px;
    padding-left: none;
    width: 100%;
    float: none;
}

#right-values {
    padding-top: 10px;
    padding-left: none;
    width: 100%;
    float: none;
}

hr {
   margin-bottom: 20px;
}

.left-values-heading {
   float: none;
   line-height: 15px;
   margin-bottom: 10px;
   text-align: center;
   padding-right: none;
}

.center-values-heading {
   float: none;
   line-height: 15px;
   margin-bottom: 10px;
   text-align: center;
   padding-right: none;
}

.right-values-heading {
    float: none;
   line-height: 15px;
   margin-bottom: 10px;
   text-align: center;
   padding-right: none;
}

/* Our Services */

#our-services {
    height: 1680px;
    padding-top: 20px;
}

#our-services h1 {
    text-align: center;
    font-size: 30px;
}

#left-services {
    padding-top: 5px;
    padding-left: none;
    width: 100%;
    float: none;
}

#center-services {
    padding-top: 5px;
    padding-left: none;
    width: 100%;
    float: none;
}

#right-services {
    padding-top: 5px;
    padding-left: none;
    width: 100%;
    float: none;
}

.left-services-heading {
    float: none;
    line-height: 20px;
    margin: none;
    padding-right: none;
}

.left-services-heading > h2 {
    color: rgb(255, 255, 255);
}

.center-services-heading {
    line-height: 20px;
    margin: 10px;
    float: left;
    text-align: center;
}

.center-services-heading > h2 {
    color: rgb(255, 255, 255);
}

.right-services-heading {
    float: left;
    line-height: 20px;
    clear: both;
    margin: 10px;
    text-align: center;
    padding-left: 10px;
}

.right-services-heading > h2 {
    color: rgb(255, 255, 255);
}

#left-services-image {
    height: 300px;
    width: 100%;
    margin: 0 auto 25px auto;
    display: block;
    background: url(../images/pexels-kampus-production-8734462.jpg) no-repeat center center;   
}

#center-services-image {
    height: 300px;
    width: 100%;
    margin: 0 auto 25px auto;
    display: block;
    background: url(../images/pexels-eva-penner-martens-11754092.jpg) no-repeat center center;   
}

#right-services-image {
    height: 300px;
    width: 100%;
    margin: 0 auto 25px auto;
    display: block;
    background: url(../images/pexels-mari치n-코icko-4214919.jpg) no-repeat center center;   
}

/* Summary */

#summary {
    height: 350px;
    padding-top: 20px;
}

#summary p {
    width: 90%;
    margin: none;
    padding-top: 10px;
    font-size: 16px;
}



}

